// Variables

$dark: #131313;
$liteDark: #13131377;
$light: #eee;
$liteLight: rgba(238, 238, 238, 0.5);
$p: 0.9rem;
$full: 100%;
$transition: all 0.4s ease-in-out;
$darkShadow: 1px 1px 3px rgba(17, 17, 17, 0.5),
  -1px -1px 3px rgba(17, 17, 17, 0.5);
$lightShadow: 1px 1px 3px rgba(255, 252, 252, 0.5),
  -1px -1px 3px rgba(255, 253, 253, 0.5);
$blur: blur(5px);

// Mixins

@mixin center($column) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $column;
}
@mixin around($column) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: $column;
}
@mixin between($column) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $column;
}
